# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Python build files
build/
dist/
*.egg-info/

# Test & coverage
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db
